<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Genre Selection Form</title>
</head>

<body>
    <h1>Generate a prompt for writing a short story with the genre of your choice! </h1>
    <form method="GET" action="/genre/">
        <label for="genre-dropdown">Select a Genre:</label>
        <select id="genre-dropdown" name="genre">
            {% for genre in genres %}
                {% if genre == selected_genre %}
                    <option value="{{ genre }}" selected>{{ genre }}</option>
                {% else %}
                    <option value="{{ genre }}">{{ genre }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>

    <div>
        <h1>{{heading}}</h1>
        <h2>{{prompt}}</h2>
    </div>
</body>

</html>